#rolloutSteps tr.future-rollout {
    background: lightYellow;
}

#rolloutSteps .backgrid th.day,
#rolloutSteps .backgrid th.sccmGroup,
#rolloutSteps .backgrid th.plannedDate,
#rolloutSteps .backgrid td.select-cell,
#rolloutFreeDays .backgrid th.date,
#rolloutFreeDays .backgrid th.description {
    text-align: left;
}

#rolloutSteps .select2-container {
    width: 100% !important;
}

#rolloutSteps .backgrid th.day,
#rolloutSteps .backgrid th.ctrlsAdd,
#rolloutSteps .backgrid th.ctrlsDelete {
    white-space: nowrap;
    text-align: right;
}

#rolloutSteps .backgrid th.sccmGroup,
#rolloutFreeDays .backgrid th.description {
    width: 99%
}

.backgrid thead th {
    vertical-align: middle;
}

.backgrid thead th button.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.backgrid thead th button.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.backgrid thead th button.btn {
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: 0.375rem 0.75rem;
}

.back-link {
    color: #000;
    font-size: 120%;
}

#nav a.nav-link {
    color: #000;
}

#nav a.nav-link.active {
    color: #fff;
}

.fc-day-grid-event .fc-content {
    white-space: normal !important;
}

.ui-autocomplete.ui-front {
    z-index: 1001;
}
.start-bg-filter:after {
    background: rgba(0, 0, 0, 0.7);
    /* background: linear-gradient(45deg, rgba(101, 47, 142, 0.88) 0%, rgba(125, 46, 185, 0.45) 100%); */
    /* background: -moz-linear-gradient(135deg, rgba(101, 47, 142, 0.88) 0%, rgba(125, 46, 185, 0.45) 100%); */
    /* background: -webkit-linear-gradient(135deg, rgba(101, 47, 142, 0.88) 0%, rgba(125, 46, 185, 0.45) 100%); */
}

.start-brand {
    padding: 10px 50px;
}

.page-header {
    height: 600px !important;
}

@media screen and (max-width: 1024px) {
    #nav-address {
        display: none;
    }

    #nav-search {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    #nav-locate-btn {
        display: none;
    }
}

html, body {
    overflow-x: hidden;
}
body {
    position: relative
}

#start-header-container {
    text-align: center;
}

#start-header-container .col-md-2 {
    margin: auto 0;
    font-size: 24px;
}

#start-search-btn {
    margin-left: 10px;
}

.section-basic h3 {
    text-align: center;
}

#start-about-section .col-sm-4 {
    margin-bottom: 90px;
}

@media screen and (max-width: 500px) {
    #start-header-container .col-md-2 {
        margin: 30px 0;
    }

    #content .page-header {
        margin-bottom: 120px;
    }
}

#start-about-section .section-basic {
    padding: 15px 0 20px 0;
}

#start-about-section .start-img-container {
    text-align: center;
}

#start-about-section h3 {
    font-weight: bolder;
    margin: 20px 0 20px 0;
}

.copyright {
    margin-top: 20px;
}
