<div class="container py-5">

    <div>
        <div class="d-inline">
            <span class="h1" style="width: 100%;">
                <%- model.get("name") %></span>
            <img src="/img/ampel.png" width="64">
            <h6 class="pb-1">
                <i class="fa fa-map-marker " aria-hidden="true"></i> 
                <%- model.get("street") %>, 
                <%- model.get("postal_code") %> 
                <%- model.get("city") %></h6>
        </div>
        <div class="main my-3 px-3 p-3">
                <span><i class="fa fa-phone m-1" aria-hidden="true"></i><%- model.get("phone_number") %></span>
                <button type="button" class="btn btn-primary ml-5">
                        Anrufen 
                    </button>
            </div>
        <div id="detail-content" class="main mb-5 pb-5"></div>
    </div>
    <div class="smallmap-wrapper main-row">
        <div class="largemap" id="map"></div>
    </div>

</div>