<div class="list-group">
    <div class="list-group-item">
        <i class="fa fa-plus-square" style="margin-right: 0.5em;" aria-hidden="true"></i>
        Teststelle:
        <i class="fas fa-check" style="margin-left: 0.5em;"></i></div>
    <div class="list-group-item">
        <i class="fas fa-home" style="margin-right: 0.5em;"></i>
        Hausbesuche möglich:
        <i class="fas fa-check" style="margin-left: 0.5em;"></i>
    </div>
    <div class="list-group-item">
        <div style="width: 100%;">
            <i class="fas fa-clock" style="margin-right: 0.5em;"></i>
            Wartezeiten:
        </div>

        <div class="d-block">
            <% _.each(waiting_times, function(time) { %>
            <span class="list-group-item"><%- time.type %>: <%- time.waiting_time %>min</span>
            <% }); %>
        </div>
    </div>
</div>