<ul class="list-group">
    <li class="list-group-item">
        <i class="fa fa-plus-square"  style="margin-right: 0.5em;" aria-hidden="true"></i>
        Teststelle:</li>
    <li class="list-group-item">
            <i class="fas fa-home" style="margin-right: 0.5em;"></i>
        Hausbesuche möglich:</li>
    <li class="list-group-item">
        <i class="fas fa-clock" style="margin-right: 0.5em;"></i>
        Wartezeiten:
        <ul>
            <li>im Wartezimmer</li>
            <li>Telefonische Beratung</li>
            <li>Hausbesuch</li>
        </ul>
    </li>
</ul>
<div class="">
    <h6>Öffnungszeiten: <span style="color: darkgreen;">geöffnet</span></h6>
    <ul>
        <li>Montag: 
                <%- model.get("opening_hours")[0].start_time %> - 
                <%- model.get("opening_hours")[0].end_time %>
        </li>
        <li>Dienstag:
                <%- model.get("opening_hours")[0].start_time %> - 
                <%- model.get("opening_hours")[0].end_time %>
        </li>
        <li>Mittwoch:
                <%- model.get("opening_hours")[0].start_time %> - 
                <%- model.get("opening_hours")[0].end_time %>
        </li>
        <li>Donnertag:
                <%- model.get("opening_hours")[0].start_time %> - 
                <%- model.get("opening_hours")[0].end_time %>
        </li>
        <li>Freitag:
                <%- model.get("opening_hours")[0].start_time %> - 
                <%- model.get("opening_hours")[0].end_time %>
        </li>
        <li>Samstag:
                <%- model.get("opening_hours")[0].start_time %> - 
                <%- model.get("opening_hours")[0].end_time %>
        </li>
        <li>Sontag:
                <%- model.get("opening_hours")[0].start_time %> - 
                <%- model.get("opening_hours")[0].end_time %>
        </li>
    </ul>
</div>
