<ul class="list-group">
    <li class="list-group-item">
        <i class="fa fa-bed" aria-hidden="true" style="margin-right: 0.5em;"></i>
        Betten:
        <%- model.get("resources")[0].in_use %> von 
        <%- model.get("resources")[0].max_available %> belegt
    </li>
    <li class="list-group-item">
        <i class="fa fa-bed" aria-hidden="true" style="margin-right: 0.5em;"></i>
        Intensivbetten:
        <%- model.get("resources")[1].in_use %> von 
        <%- model.get("resources")[1].max_available %> belegt
    </li>
</ul>