<div class="nearest-resource-list container">
    <h1 class="mt-1">geeignete Krankenhäuser in deiner Nähe</h1>
    <div class="list-group">
        <% _.each(collection.models, function(poi) { %>
            <a class="list-group-item" href="/#detail/<%- poi.get("type") %>/<%- poi.get("id") %>">
                <div class=row>
                    <div class="col-3 col-lg-1">
                        <img src="/img/ampel.png" width="32" height="37">
                        <span class="badge">X km</span>
                    </div>
                    <div class="col-9 my-auto">
                        <span><%- poi.get("name") %></span>
                    </div>
                </div>
            </a>
        <% }); %>
    </div>
</div>