<div class="nearest-resource-list container">
    <h1 class="mt-1 h3">
        <%- _.filter(collection.models, function (a) { return a.get('type') == 'HOSPITAL'; }).length %> Krankenhäuser
        und
        <%- _.filter(collection.models, function (a) { return a.get('type') == 'HOSPITAL'; }).length %> Ärzte
        in der Umgebung von <%- area %>km gefunden</h1>
    <div class="list-group">
        <% _.each(collection.models, function(poi) { %>
        <div class="list-group-item list-group-item-action">
            <div class="row" style="width: 100%">
                <a href="/#detail/<%- poi.get('type') %>/<%- poi.get('id') %>" class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                    <span class="h5 mb-1">
                        <% var random = Math.floor(Math.random() * 10); %>
                        <% if (random == 1) { %>
                        <i class="material-icons text-danger mr-0">error</i>
                        <% } else if (random == 2) { %>
                        <i class="material-icons text-warning mr-0">warning</i>
                        <% } else { %>
                        <i class="material-icons text-success mr-0">check</i>
                        <% } %>
                        <%- poi.get("name") %>
                        <small class="ml-3"><%- Math.round(poi.get("distance")) %> km</small>
                    </span>
                    <div class="mb-1">
                        <%- poi.get("street") %>, <%- poi.get("city") %>
                        <% if (poi.get("comment") != "") { %>
                        <br><small><%- poi.get("comment") %></small>
                        <% } %>
                    </div>
                </a>
                <div class="col">
                    <a href="tel:<%- poi.get('phone_number') %>">
                        <button type="button" class="btn btn-primary">
                            <i class="material-icons">call</i>
                            Anrufen
                        </button>
                    </a>
                    <a href="https://www.google.com/maps/search/?api=1&query=<%- poi.get('latitude') %>,<%- poi.get('longitude') %>">
                        <button type="button" class="btn btn-secondary">
                            <i class="material-icons">navigation</i>
                            Navigieren
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <% }); %>
    </div>
</div>
